[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-environ = "*"
python-dotenv = "*"
django-cors-headers = "*"
whitenoise = "*"
pillow = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.13"
